<html>
<head>
  <!-- META DATA -->
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
	<title>Sweet Cake </title>
  
	<!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css"  type="text/css">
	
	
	<!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
	
	<!-- Custom Fonts -->
    <link rel="stylesheet" href="font-awesome-4.4.0/css/font-awesome.min.css"  type="text/css">

<!-- REACT -->
    <script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
	<script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
	<script src="bundle.js"></script>
	
</head>

 <body>

	<!-- /////////////////////////////////////////Navigation -->

	<div id="pageindex"></div>
	<!-- Navigation -->
	<header class="container" data-component="Header">
		<p class="text-center">Monday - Friday <strong>11AM to 2PM</strong>, Saturday - Sunday <strong>9Am to 2PM</strong></p>
	
    <div class="row">
      
      <img src="images/banner3.jpg" alt="...">
      <!-- Static Header -->
      <div class="header-text hidden-xs header-text">
        <h1>Great taste</h1><br>
        <p>Eat cake and learn React ;) <br>Nulla hendrerit risus auctor, sodales lacus in, facilisis enim. Curabitur iaculis lacus leo,
ut consequat tellus posuere vel.</p></br>
      </div>
		</div>	

		 
	</header>

	
	<!-- /////////////////////////////////////////Content -->
	<div id="page-content" data-component="Content">
	
		<!-- ////////////Content Box 01 -->
		<section class="box-content box-1" data-component="ContentBoxText">
			<div class="container">
				<div class="heading">
					<h2>
						<span class="hr">Welcome!</span>
					</h2>
					<div class="intro">Nulla hendrerit risus auctor, sodales lacus in, facilisis enim. Curabitur iaculis lacus leo,<br/> ut consequat tellus posuere vel.</div>
				</div>
				<div class="row">
					<p>Proin gravida nibh vel velit auctor aliquet Aenean sollicitudin, sagittis sem nibh id elit. Duis sed odio sit.amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a odio tincidunt auctor a ornare odio. Sed non mauris vitae erat consequat auctor eu in elit.</p>
				</div>
			</div>
		</section>
		

		
		<!-- ////////////Content Box 3 -->
		<section class="box-content box-3 box-style-3" data-component="ContentBoxTestimonial">
			<div class="container">
				<div class="heading">
					<h2>
						<span class="hr client-say">Clients Say</span>
					</h2>
				</div>
				<div class="row">
					<div class="item text-center">
							<img src="images/partner1.png" class="img-circle" />
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industrys standard dummy text ever since the 1500s, when an unknown printer took a galley.</p>
							<span>Catherine Grace - America</span>
						</div>
				</div>
			</div>
		</section>
		
		<!-- ////////////Content Box 04 -->
		<section class="box-content box-4 box-style-1" id="services"  data-component="ContentBoxInformation">
			<div class="container">
				<div class="heading">
					<h2>
						<span class="hr">Information</span>
					</h2>
				</div>
				<div class="row">
					<div class="col-sm-4">
						<div class="service">
							<a href="single.html"><img src="images/icon1.png" title="icon-name"></a>
							<h3>Sucess Story</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
				
						</div>
			 		</div>
			 		<div class="col-sm-4">
						<div class="service">
							<a href="contact.html"><img src="images/icon3.png" title="icon-name"></a>
							<h3>Map</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
			 		</div>
			 		<div class="col-sm-4">
						<div class="service">
							<a href="menu.html"><img src="images/icon2.png" title="icon-name"></a>
							<h3>Food Menu</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
			 		</div>	
				</div>
			</div>
		</section>
		
	
	<!-- FOOTER -->
	<footer  data-component="Footer">
	
		<div class="bottom-footer">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						<p>Copyright 2015</p>
					</div>
					<div class="col-md-4">
						<ul class="list-inline social-buttons">
							<li><a href="#"><i class="fa fa-twitter"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-facebook"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-linkedin"></i></a>
							</li>
							<li><a href="#"><i class="fa fa-pinterest"></i></a>
							</li>
						</ul>
					</div>
					<div class="col-md-4">
						<ul class="list-inline quicklinks">
							<li><a href="#">Privacy Policy</a>
							</li>
							<li><a href="#">Terms of Use</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</footer>
  
	<!-- jQuery -->
	<script type="text/javascript" src="js/jquery-2.1.1.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	

</body>
</html>